### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.session
.session-journal

# Sphinx documentation
docs/_build/

# virtualenv
.venv
venv/
ENV/

# JetBrains
.idea/

# Current project
experiment.py
secrete.py
test.py
+79065475988.session
+79065475988.session-journal
main 2.py
Config 2.py
+79265464264.session
+79265464264.session-journal
my_account.session
my_account.session2.session
arbitrage_options.py

# Doc's
docs/html

# i18n/l10n
*.mo

# pynev
.python-version
